.find {
  background-color: #eeeeec;
  padding-top: 7px;
  height: calc(100vh - 100px);
  overflow-y: auto;
}
.find .top {
  margin-top: 10px;
}
.find .top ul {
}
.find .top ul li:first-child {
  border: none;
  margin-bottom: 15px;
}
.find .top ul li {
  padding: 5px 15px;
  background-color: #ffffff;
  border-bottom: 1px solid #d2d3d2;
}
.find .top ul li:nth-last-child(7) {
  border: none;
}
.find .top ul li:nth-last-child(6) {
  margin-top: 15px;
}

.find .top ul li:nth-last-child(4) {
  margin-top: 15px;
  border: none;
}
.find .top ul li:nth-last-child(3) {
  margin-top: 15px;
}
.find .top ul li:nth-last-child(2) {
  border: none;
}
.find .top ul li:last-child {
  border: none;
  margin-top: 15px;
}
.find .top ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.find .top ul li img {
  width: 20px;
  height: 20px;
}
.find .top ul li p {
  margin-left: 10px;
}
