.app-header {
  height: 50px;
}
.app-header ul {
  position: fixed;
  width: 100%;
  color: white;
  background-color: black;
  line-height: 30px;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
}

.app-header ul li {
  padding: 10px 0;
}
.app-header ul li a {
  color: wheat;
}
.app-header ul li.back {
}
.app-header ul li.title {
}
.app-header ul li.other {
}
