.me {
  background-color: gray;
}
.me .information {
  background-color: white;
}
.me .information a {
}
.me .information a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.me .information a .left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.me .information a .left img {
  width: 40px;
  height: 40px;
}
.me .information a .left div {
  margin-left: 20px;
}
.me .information a .rigth {
}
.me ul {
}
.me ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
}
.me ul li img {
  width: 40px;
  height: 40px;
}
.me ul li p {
  margin-left: 10px;
}
