.person-information {
  background-color: #eeeeec;
  height: calc(100vh - 50px);
  box-sizing: border-box;
}
.person-information ul {
  padding-top: 5px;

  box-sizing: border-box;
}

.person-information li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d2d3d2;
  min-height: 24px;
  background-color: #ffffff;
  padding: 5px 10px;
}
.person-information li:last-child {
  margin-top: 10px;
  border: none;
}
.person-information li p {
  font-size: 14px;
}
.person-information li div {
  font-size: 16px;
  color: gray;
}
.person-information li.photo img {
  width: 40px;
  height: 40px;
}
