body {
  position: relative;
  display: block;
}
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  font-size: 12px;
  line-height: 1.5em;
  font-family: "FrutigerNextLT-Regular", "Microsoft YaHei", Verdana, Arial,
    Helvetica, sans-serif;
  margin: 0 auto;
  color: #000;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  border: 0;
  vertical-align: middle;
}
em {
  font-style: normal;
}
input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  outline: 0;
}
.clear {
  clear: both;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
input::-webkit-input-placeholder {
  color: #999;
  font-size: 12px;
}
input:-moz-placeholder {
  color: #999;
  font-size: 12px;
}
input::-moz-placeholder {
  color: #999;
  font-size: 12px;
}
input:-ms-input-placeholder {
  color: #999;
  font-size: 12px;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.support-versionb input::-ms-clear {
  display: none;
}
.support-versionb input::-webkit-input-placeholder {
  color: #999;
  font-size: 14px;
}
.support-versionb input:-moz-placeholder {
  color: #999;
  font-size: 14px;
}
.support-versionb input::-moz-placeholder {
  color: #999;
  font-size: 14px;
}
.support-versionb input:-ms-input-placeholder {
  color: #999;
  font-size: 14px;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus {
  -moz-outline-style: none;
}
a:focus {
  outline: 0;
}
.s-blue {
  color: #0070cc;
}
.s-gray {
  color: #333;
}
.s-gray-shallow {
  color: #666;
}
.s-black {
  color: #020202;
}
.s-red-shallow {
  color: #ce3c40;
}
.s-red {
  color: #c9282c;
}
.s-font-normal {
  font-size: 16px;
}
.s-font-large {
  font-size: 18px;
}
.s-font-small {
  font-size: 14px;
}
input.s-input::-webkit-input-placeholder {
  color: #999;
  font-size: 16px;
}
input.s-input:-moz-placeholder {
  color: #999;
  font-size: 16px;
}
input.s-input::-moz-placeholder {
  color: #999;
  font-size: 16px;
}
input.s-input:-ms-input-placeholder {
  color: #999;
  font-size: 16px;
}
.s-input {
  width: 200px;
  height: 35px;
  padding: 0 10px;
  line-height: 35px;
  font-size: 16px;
  border: 0;
  color: #666;
  border-bottom: #ccc solid 1px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  background-color: transparent;
}
.s-btn {
  text-align: center;
  padding: 8px 20px;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
  border-image: initial;
  transition: all 300ms;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
}
.s-btn:hover {
  border-color: #ce3c40;
  color: #ce3c40;
}
.s-btn.s-disabled,
.s-btn.s-disabled:hover {
  color: #999;
  border-color: #999;
  cursor: default;
}

